.Row {
    flex: 0 0 20%;
    display: flex;
    align-items: stretch;
    padding: 0.5rem;
    box-sizing: border-box;
    min-height: 20%;
}

.Row:before {
    content: '';
    display: table;
    padding-top: 100%;
  }